// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.VueTables__limit {margin-bottom: .2rem !important;}
.VueTables__limit-field{
    width: 25%;
}
.VueTables__limit-field label {
    display: inline;
    margin-right: .2rem;
}
